:root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightskyblue;
}
.main-body {
  background-color: white;
  width: 40%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1%;
}

.image {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

.heading-container {
  text-align: center;
}

.button-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}

#print-button {
  background-color: white;
  color: green;
  padding: 10px 0;
  border-radius: 10px;
  flex: stretch;
}

#place-button {
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 10px 0;
  flex: stretch;
  text-align: center;
  text-decoration: none;
}

.admin_link {
  display: block;
  text-align: center;
}
